
*{box-sizing:border-box}
html,body{height:100%}
body{
  margin:0;
  font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial;
  font-size:var(--fs-md);
  color:var(--neutral-900);
  background:linear-gradient(180deg,var(--neutral-100),#ffffff);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  line-height:1.45;
}


.container{
  max-width:var(--container-max);
  margin:0 auto;
  padding:0 var(--sp-2);
}


h1{font-size:var(--fs-xl);margin:0 0 var(--sp-2) 0}
h2{font-size:var(--fs-lg);margin:0 0 var(--sp-2) 0}
h3{font-size:var(--fs-md);margin:0 0 var(--sp-1) 0}


a{color:var(--primary-700);text-decoration:none}
a:hover{text-decoration:underline}


.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0 0 0 0);border:0}
