
.row { display: grid; grid-template-columns: 1fr; gap: var(--gutter); transition: grid-template-columns .18s ease, gap .18s ease; }


.col-full { grid-column: 1 / -1 !important; }
.col-auto { grid-column: auto; }


@media (min-width: calc(var(--bp-sm) + 1px)) {
  .row { grid-template-columns: repeat(6, 1fr); }
  .col-1  { grid-column: span 1; }
  .col-2  { grid-column: span 2; }
  .col-3  { grid-column: span 3; }
  .col-4  { grid-column: span 4; }
  .col-5  { grid-column: span 5; }
  .col-6  { grid-column: span 6; }

  .col-sm-1 { grid-column: span 1; }
  .col-sm-2 { grid-column: span 2; }
  .col-sm-3 { grid-column: span 3; }
  .col-sm-4 { grid-column: span 4; }
  .col-sm-5 { grid-column: span 5; }
  .col-sm-6 { grid-column: span 6; }
}


@media (min-width: var(--bp-md)) {
  .row { grid-template-columns: repeat(12, 1fr); }

  .col-1  { grid-column: span 1; }
  .col-2  { grid-column: span 2; }
  .col-3  { grid-column: span 3; }
  .col-4  { grid-column: span 4; }
  .col-5  { grid-column: span 5; }
  .col-6  { grid-column: span 6; }
  .col-7  { grid-column: span 7; }
  .col-8  { grid-column: span 8; }
  .col-9  { grid-column: span 9; }
  .col-10 { grid-column: span 10; }
  .col-11 { grid-column: span 11; }
  .col-12 { grid-column: span 12; }

  .col-md-1  { grid-column: span 1; }
  .col-md-2  { grid-column: span 2; }
  .col-md-3  { grid-column: span 3; }
  .col-md-4  { grid-column: span 4; }
  .col-md-6  { grid-column: span 6; }
  .col-md-8  { grid-column: span 8; }
  .col-md-12 { grid-column: span 12; }
}


@media (min-width: var(--bp-lg)) {
  .row { grid-template-columns: repeat(12, 1fr); gap: calc(var(--gutter) * 1.2); }

  .col-lg-1  { grid-column: span 1; }
  .col-lg-2  { grid-column: span 2; }
  .col-lg-3  { grid-column: span 3; }
  .col-lg-4  { grid-column: span 4; }
  .col-lg-6  { grid-column: span 6; }
  .col-lg-12 { grid-column: span 12; }
}


@media (max-width: calc(var(--bp-sm))) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
  .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-6,
  .col-lg-1, .col-lg-2, .col-lg-3 {
    grid-column: 1 / -1;
  }
}


:focus { outline: 3px solid var(--focus-color); outline-offset: 2px; }
